.app-filter .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  padding-left: 0;
  cursor: auto;
}

.app-filter .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
  padding-bottom: 0 !important;
}

.custom-drawer .ant-drawer-content-wrapper {
  border-radius: 24px;
}

.custom-drawer .ant-drawer-content {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.ant-drawer-close:hover {
  outline: 0;
}
